<form action="/blacklists/<%= @blacklist.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <label>Phone Number:</label>
  <input type="text" name="blacklist[phone_number]" value="<%= @blacklist.phone_number %>"><br>

  <label>Caller Name:</label>
  <input type="text" name="blacklist[caller_name]" value="<%= @blacklist.caller_name %>"><br>

  <input type="submit" value="Update" class="button"><a href="/blacklists" class="button">Cancel</a>
</form>
