<!DOCTYPE html>
<html>
<head>
    <title>Trellio</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css") %>" />
</head>

<body>
    <div class="container">
      <h1><%= @title %></h1>
      <%= yield %>
    </div>
</body>
</html>
